
.menu {

    align-items: center;
    display: flex;
    justify-content: space-between;
    width: 100%;
    position: relative;
    z-index: 999;


}

@media screen and (max-width: 800px) {

    .menu {

        display: none;

    }
}