.contato__github {

    margin: 8px;
    transition: 1s background;
    cursor: pointer;
    opacity: 0.7;
}

.contato__linkdin {

    margin: 10px;
    transition: 1s background;
    cursor: pointer;
    opacity: 0.7;
}

.contato__whatsapp {

    margin: 0.6rem;
    transition: 1s background;
    cursor: pointer;
    opacity: 0.7;
}

.contato__github:hover,.contato__linkdin:hover,.contato__whatsapp:hover {

    opacity: 1;
}