html {
    
    scroll-behavior: smooth;
  }

.nome::before {
    color: aqua;;
    content: "< ";
}

.nome::after {
    color: aqua;;
    content: " >";
}

.nome:hover{

    color: #a6c9e8;
}

@keyframes go-back {
    
    from {
        transform: translate3d(0, 20px, 0);
        transform: translateX(0) scale(0.6);
    }
    to {
        transform: translate3d(0, 0, 0);
        transform: translateX(0) scale(1);
    }
  }

.menu li:last-child:hover {

    background: #7acdf9;
}

.menu li:first-child:hover, .menu li:nth-child(2):hover {    

    transform-box: 500ms;
    background-size: 100% 1px;
}

#apresentacao h2::after{

    color: aqua;
    content: " !";
}


.github:hover,.linkdin:hover,.whatsapp:hover {

    opacity: 1;
}

[data-anime] {

    opacity: 0;
    transition: .3s;
}


[data-anime="down"] {

    transform: translate3d(0, 50px, 0);
}

[data-anime="left"] {

    transform: translate3d(-50px, 0, 0);
}

[data-anime="right"] {

    transform: translate3d(50px, 0, 0);
}

[data-anime].animate {

    opacity: 1;
    transform: translate3d(0px, 0px, 0px);
}

@media screen and (max-width:800px)  {

    #nav-mobile.active #btn-mobile {

        transform: rotate(180deg);
    }

    #nav-mobile.active #btn-mobile::before {

        transform: rotate(41deg);
    }

    
    #nav-mobile.active .menu-mobile {

        display: block;   
        transition: 500ms;  
    } 
    .menu-mobile li:first-child {

        border-top: 1px solid rgba(36, 74, 111, 0.436);
    }

    .menu-mobile li:hover {

        background: #1c3d4a;
    }

    .menu-mobile li:active {

        background: #4595b4;
        
    }



    @keyframes carrocel {

        0%{ margin-left:  0; }
        20%{ margin-left:  0; }
        35%{ margin-left:  -100%; }
        50%{ margin-left:  -100%; }
        75%{ margin-left:  -200%; }
        90%{ margin-left:  -200%; }
        100%{ margin-left:  -300%; }
    }
}