
@media screen and (max-width:800px) {

    #btn-mobile {

        display: block;
        position: absolute;
        top:0;
        right: 0;
        margin: 20px;
        
        background: none;
        border: none;
        color: rgb(255, 255, 255); 
        width: 20px;
        border-top: 2px solid;
        cursor: pointer;
    }

    #btn-mobile::after, #btn-mobile::before{

        position: relative;
        content: " ";
        display: block;
        width: 20px;
        border-top: 2px solid;
        margin-top: 5px;
        background: currentColor; /* quando a cor do BTN-mobile for mudada, automaticamente muda aqui tbm */ 
    }
   
    #nav-principal {

        display: none;
    }

    #nav-mobile {

        display:flex;
        text-align: center;
    }
    
    .menu-mobile {

        position: relative;
        width: 100%;
        color: #ffffff;   
        background: #0c232c;    
    }

    .menu-mobile li {

        padding: 1rem;
        font-family: Roboto, sans-serif;
        transition: 1s;
        cursor: pointer;
        border-bottom: 1px solid rgba(36, 74, 111, 0.436);
    }

    .menu-mobile a{

        text-decoration: none;
        color: #ffffff;    
    }
    
    .containe-1 {

        display: block;    
    }

    .nome {

        font-size: 0.8rem;
    }

    #apresentacao h2 {
       
        font-family: 'Roboto', sans-serif;
        text-shadow: 2px 3px #000000;
        font-size: 3.5rem;
        padding: 1.5em 1em;
    }

    #habilidades {

        background: linear-gradient(#0c232c 0%, #034c68 25%, #096a91 50%, #034c68  70%, #0c232c 95%); 
    }

    #tecnologias {

        width: 205px;
        height: 350px;
        overflow: hidden;

    }

    .tecnologias-op {

        width: 400%;
        animation-name: carrocel;
        animation-duration: 10s;
        animation-iteration-count: infinite;
    }

    .tecnologias-op li img {

        width: 200px;
    } 

    #carrosel-html {

        display: inline-block;
    }

    .tecnologias-op li{

        display: inline-block;
        padding: 0px 0px 0px;

    }

}

@media screen and (max-width:540px) {

    #apresentacao h2 {
       
        font-size: 3rem;
    }

}

@media screen and (max-width:480px) {

    #habilidades, .sobre-mim{

        text-align: center;
    }
    
    #apresentacao h2 {
       
        font-size: 2.5rem;
        padding: 1.5em 1em;
    }

}

@media screen and (max-width:423px) {

.contato {

    display: flex;
    justify-content: center;
    flex-direction: column;

}

.minhas-redes{

    display: flex;
    justify-content: center;
    flex-direction: row;
}

.minhas-redes li{

    padding: 50px 0;
}

}

@media screen and (max-width:400px){

    #apresentacao h2{

        font-size: 2.0em;   
    }
}

@media screen and (max-width:253px){

    #apresentacao h2{

        font-size: 1.5em;   
    }

    .titulo {
        
        font-size: 1.5rem;
    }


}