/* .projetos__saibaMais {

    box-shadow: 2px 3px 5px black;
    cursor: pointer;
}

.projetos__saibaMais:hover {


    background-color: aqua;
} */


.projetos__saibaMais{
    right: 20px;
    bottom: 20px;
    border:none;
    border-radius: 10px;
    box-shadow: 2px 3px 5px black;
    width: 90px;
    height: 30px;
    line-height: 25px;
    cursor: pointer;
    background-color: rgb(255, 255, 255);

  }
 
  .projetos__saibaMais:hover{ 

    background-color: rgb(9, 92, 148);
    color: #fff;

  }

  @media screen and (max-width:885px) {


    .projetos__saibaMais{

      width: 80px;
      height: 25px;
      line-height: 15px;

    }
    
    
}