.projetos__descricao {

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 0.5rem 1rem;
}

.projetos__descricao--invisivel {

    padding: 1rem;
    border-radius: 10px;
    background-color: #043342f3;
    box-shadow: 1px 2px 5px rgb(247, 245, 245);
    display: flex;
    flex-direction: column;
    gap: 1rem;
    display: none;

}

@media screen and (max-width:885px) {

    .projetos__descricao  {
        flex-direction: column;
        gap: 0.2rem;
        align-items: center;
    }
    
    
}