.projetos__descricao {

    display: flex;
    justify-content: space-between;
    margin: 0.5rem 1rem;
}

.projetos__descricao--invisivel {

    display: none
}

@media screen and (max-width:885px) {

    .projetos__descricao  {
        flex-direction: column;
        gap: 0.2rem;
        align-items: center;
    }
    
    
}