.projetos__link {

    text-shadow: 2px 1px 5px rgb(90, 86, 86);
    color: rgb(5, 77, 105);
    text-decoration: none;
    

}

.projetos__link:hover {


    opacity: 1;
    background-color: rgba(45, 96, 131, 0.445);
}

