.habilidade__item{

    color: #ffffff;
    display: inline-block;
    font-size: 1.5rem;
    margin: 2rem;
    text-shadow: 2px 2px #000000;
}

.habilidade__item-carrosel {

    display: none;
}

@media screen and (max-width:800px) {

    .habilidade__item{
        margin: 0;
    }

    .habilidade__item-carrosel {

        display: inline-block;
    }
}