@media screen and (max-width:800px) {

    .habilidade__menu {
            
        animation-name: carrocel;
        animation-duration: 10s;
        animation-iteration-count: infinite;
        width: 895%;
    }
    /* Para 3 tecnologias */
    /* @keyframes carrocel { 

        0%{ margin-left:  0; }
        20%{ margin-left:  0; }
        35%{ margin-left:  -100%; }
        50%{ margin-left:  -100%; }
        75%{ margin-left:  -200%; }
        90%{ margin-left:  -200%; }
        100%{ margin-left:  -300%; }
    } */

      @keyframes carrocel { 

        0%{ margin-left:  0; } /* Sempre regular do primeiro para o segundo */
        14.3%{ margin-left:  -110%; }
        28.5%{ margin-left:  -225%; }
        42.8%{ margin-left:  -340%; }
        57%{ margin-left:  -454%; }
        71.4%{ margin-left:  -569%; }
        85.8%{ margin-left:  -684%; }
        100%{ margin-left:  -792%; }
    } 
}
