.faleconosco__input {

    border-radius: 2px;
    border: none;
    padding: 0.5rem 1rem;
    
    color: #fefefe;
    line-height: 1.2;
    font-size: 1.5rem;
    background: #12333f51;
    box-shadow: 1px 1px 5px #7a92d528;

    width: 100%;

}

@media screen and (max-width:800px) {
    .faleconosco__input {
        line-height: 1;
        font-size: 1rem;
    
    }
}