#mobile__menu{

    display: none;
}

@media screen and (max-width:800px) {

    .menu__mobile {
        position: relative;

    }
    #mobile__menu {

        display:flex;
        text-align: center;
        flex-direction: column;
    }

    #mobile__menu.active #mobile__btn {

        transform: rotate(180deg);
    }

    #mobile__menu.active #mobile__btn::before {

        transform: rotate(41deg);
    }

    
    #mobile__menu.active .mobile__lista {

        display: block;   
        transition: 500ms;  
    } 
}