#mobile__btn{

    display: none;
}


@media screen and (max-width:800px) {

    #mobile__btn {
        
        color: rgb(255, 255, 255); 
        cursor: pointer;
        background: none;
        border: none;
        border-top:  0.1rem solid;
        display: block;
        margin: 1.25rem;
        position: relative;
        right: -91%;
        width: 1.25rem;
    }

    #mobile__btn::after, #mobile__btn::before{

        border-top: 0.1rem solid;
        background: currentColor; /* quando a cor do BTN-mobile for mudada, automaticamente muda aqui tbm */ 
        content: " ";
        display: block;
        margin-top: 0.3rem;
        position: relative;
        width: 1.25rem;
    }
}

@media screen and (max-width:570px) {

    #mobile__btn {
        
        right: -88%;

    }

}

@media screen and (max-width:410px) {

    #mobile__btn {
        
        right: -85%;

    }

}

