@media screen and (max-width:800px) {


    .mobile__item {
        display: block;
        padding: 1rem;
        font-family: Roboto, sans-serif;
        transition: 1s;
        cursor: pointer;
        border-bottom: 1px solid rgba(36, 74, 111, 0.436);
    }

    .mobile__item:first-child {

        border-top: 1px solid rgba(36, 74, 111, 0.436);
    }

    .mobile__item:hover {

        background: #1c3d4a;
    }

    .mobile__item:active {

        background: #4595b4;
        
    }

}