.banner {
    
    background-image: url(banner.jpg);
    background-repeat: no-repeat;
    background-size: 100%;
    height: 31.25rem;
    opacity: 0.5;
    position: absolute;
    width: 100%;
    -webkit-mask-image:  linear-gradient(to top, transparent 2%, #0c232c 50%);
    z-index: -1;
    
} 